header {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: 'info cont stuff';
}

#info {
    margin-left: 2vw;
    padding-left: 1vw;
    border: 1px solid black;
    grid-area: info;
}
#info h2 {
    text-align: center;
}

#info-container {
    display: grid;

    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 50px);
}
#info-container img {
    float: right;
}
#info-container > .stat {
    padding-top: auto;
    padding-bottom: auto;
}

.container {
    width: 380px; 
    margin-left: auto; 
    margin-right: auto;
    grid-area: cont;
}

#game-container {
    display: grid;
    
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(7, 50px);

    grid-gap: 5px;
    text-align: center;
}

.item {
    border: 1px solid black;
}

.item:hover {
    background-color: #d1d1d1;
}

#stuff {
    grid-area: stuff;
    height: 500px;
    border: 1px solid black;
    overflow: scroll;
    padding: 20px;
}